

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
    background-color: hsl(257, 40%, 49%);
}
.wrapper {
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
main {
    width: 100%;
    height: 100vh;
    padding: 3.3em 5vw;
    display: flex;
    flex-direction: column;
}
.logo-container {
    display: flex;
    justify-content: flex-start;
}
.hero_section {
    display: flex;
    gap: 3em;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}
.logo-img {
    width: 13em;
}
.hero-container {
    width: 55%;
}
.hero_img {
    width: 100%;
}
.hero_desc {
    width: 40%;
}
.hero_desc-title {
    font-size: clamp(1.35em, 2.5vw, 4.35em);
    line-height: 1.5;
    letter-spacing: 2px;
    margin-block-end: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.hero_desc-p{
    font-size: 1em;
    line-height: 1.6;
    letter-spacing: 1px;
}
a {
    text-decoration: none;
}
.hero-btn {
    margin-block: 1.4em;
    padding: 0.8em 3.3em;
    border-radius: 2em;
    font-size: 1.2em;
    font-weight: 400;
    border: none;
    color: hsl(257, 40%, 49%);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    cursor: pointer;
}
.hero-btn:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}
.social_icons {
    display: flex;
    justify-content: flex-end;
    gap: 0.75em;
}
.fa-brands {
    width: 2.5em;
    height: 2.5em;
    color: white;
    border: 1px solid white;
    border-radius: 100vw;
    padding: 0.35em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-brands:hover {
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}
footer {
    padding-block: 5em;
    padding-inline: 5vw;
    background-color: rgb(50, 17, 80);
}
.attribution { 
    font-size: clamp(1.75em, 5vw, 5em); 
    text-align: left;
    max-width: 50%;
    line-height: 1;
    color: hsl(257, 40%, 70%);
}
.attribution a {
    color: white;
}
.attribution a:hover {
     color: hsl(300, 69%, 71%); 
}
@media screen and (max-width: 767px) {
    .hero_section {
        display: flex;
        flex-direction: column;
        margin-block-start: 4em;
        text-align: center;
        height: unset;
    }
    .hero-container {
        width: 100%;
    }
    .hero_desc {
        width: 100%;
    }
    .logo-img {
        width: 7em;
    }
    .social_icons {
        display: flex;
        justify-content: center;
       padding-block-start: 3em;
    }
    main {
        height: max-content;
        padding: 2.3em 12vw;
    }
    .wrapper {
        background-image: url(images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top;
    }
    .hero_desc-title {
        letter-spacing: 0;
    }
    .hero_desc-p {
        font-size: 15px;
        letter-spacing: 0px;
    }
    .hero-btn {
        padding: 1em 5em;
        border-radius: 2em;
        font-size: 14px;
    }
    footer {
        padding-inline: 12vw;
    }
    .attribution {
        max-width: 100%;
    }
}